<!doctype html>
  <html lang="en">

  <head>
    <title>Authentication</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script type="text/javascript">
      function preventBack() { window.history.forward(); }
      setTimeout("preventBack()", 0);
      window.onunload = function () { null };
    </script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <%if(check){%>
      <%-include('../invalid/alreadyexist');%>
    <%}%>
      <div id="wrapper">
        <div id="container">

          <div id="heading">
            <img src="logo.png" class="logo">

          </div>
          <div id="formdiv">
            <div id="fh">
              <h3>Create new account</h3>
            </div>

            <form method="post" action="/createAccount">
              <div class="form-group">
                <label for="exampleInputPassword1">Full name</label>
                <input name="username" type="tel" class="form-control" id="username" placeholder="Username" required>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp" placeholder="Enter email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Phone number</label>
                <input name="phone" type="tel" class="form-control" id="phone" placeholder="Enter Phone no." required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>

                <input name="password" type="password" class="form-control" id="exampleInputPassword1"
                  placeholder="Password" required>

              </div>

              <div id="ba">
                <button id="sbt" type="submit" class="btn btn-warning ">Create account</button>
              </div>

            </form>
            <div id="cna">
              <a href="/login">Login</a>
            </div>
          </div>
        </div>

      </div>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
  </body>

  </html>